/* add your CSS here */
* {
    margin: 0;
    padding: 0;
}
html, body {

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300
}
.content {
width: 100vw;
max-width: 330px;
display: -webkit-flex;
display: flex;
-webkit-flex-row: row wrap;
flex-flow: row wrap;
flex-wrap: wrap;
margin: auto
}
h3 {
    color: #FBA500;
    font-size: 1.5em;
    padding: 20px 0 15px 10px
}
.facts {
    font-style: italic;
    font-weight: 400;
    font-size:1.1em
}
ul {
    padding: 20px 0 30px 30px
}
li {
    font-size: 1.4em;
    color: 	#028BCF;
    list-style-type: none;
}
li span {
    font-weight: 700;
    font-size: 0.7em
}